
# name: CI
# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
 
# jobs:
  
#   build:
   
#     runs-on: ubuntu-latest 
#     steps:
#       - uses: actions/checkout@v4
#       - name: Buildx image
#         run: | 
#             docker buildx -t ${{secrets.REGISTRY_USER}}/portfolio:${{github.run_number}} .
#             docker buildx -t ${{secrets.REGISTRY_USER}}/portfolio .
#       - name: Push image 
#         run: |
#             docker login -u ${{secrets.REGISTRY_USER}} -p ${{secrets.REGISTRY_PASS}}
#             docker push ${{secrets.REGISTRY_USER}}/portfolio:${{github.run_number}}
#             docker push ${{secrets.REGISTRY_USER}}/portfolio

          
